{% extends 'base.html' %}
{% load static %}

{% block title %}
SOBRE
{% endblock title %}

{% block content %}
<div class="container" >
    <section>
        <h2>Sobre o Podiversos</h2>
        <div class = "content-item">
        <p> O blog Podiverso nasceu da ideia de compartilhar a ideia de conhecer, ouvir e gostar de podcasts.
            Aqui serão listados podcasts que sempre buscam proporcionar ao ouvinte conhecimento, seja ele científico, educacional, esportivo e cultural.</p>
        <p> Você que se interessa também em ouvir podcasts e quer mostrar sua resenha de algum específico, junte-se com a gente! Vamos dissiminar 
            informações pelo mundo
        </p>
        
        <h2>O que é um Podcast?</h2>
        <p>
            Um podcast é uma forma de mídia digital que consiste em uma série de episódios de áudio ou vídeo, geralmente focada em um tópico 
            específico ou tema. Os podcasts podem ser ouvidos ou assistidos online e geralmente são disponibilizados em plataformas de streaming ou download. 
            Eles oferecem uma maneira conveniente para os ouvintes acessarem conteúdo sob demanda, como discussões, entrevistas, histórias ou informações sobre 
            uma variedade de assuntos, desde notícias e entretenimento até educação e hobbies. Os ouvintes podem se inscrever em podcasts
             
            para receber automaticamente novos episódios quando são lançados, tornando-os uma forma popular de consumo de conteúdo multimídia.
        </p>
        </div>
    </section>
</div>
{% endblock content %}
